@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  margin-top: 95px;
}
html,
body {
  font-family: 'Noto Serif TC', serif;
  color: black;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: black;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 3%;
}
h3 {
  font-size: 2.8rem;
  padding-bottom: 10%;
}
h4 {
  font-size: 2.2rem;
  padding-bottom: 4%;
}
h5 {
  font-size: 1.6rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
.navContainer {
  position: fixed;
  top: 0;
  background-color: #F4F4F4;
  z-index: 9999;
  width: 100%;
  opacity: 0.9;
}
.navContainer nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 1%;
}
.navContainer nav .navItemContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 35%;
}
@media (max-width:500px) {
  .navContainer nav .navItemContainer {
    width: 100%;
  }
}
.navContainer nav .navItemContainer a {
  font-size: 1.6rem;
  padding: 3% 5%;
  margin-top: 2%;
  text-decoration: none;
  color: black;
}
.navContainer nav .navItemContainer a:hover {
  background-color: lightslategrey;
  color: white;
  border-radius: 5px;
}
header {
  text-align: center;
}
header .introImage {
  width: 100%;
  margin-top: 3%;
}
header .intro {
  margin: 3% 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .btn {
  background-color: #22283A;
  color: white;
  text-align: center;
  padding: 8px 0px;
  margin-top: 5%;
  border-radius: 5px;
  font-size: 1.9rem;
  width: 150px;
  border: 2px solid #22283A;
}
@media (max-width:500px) {
  header .btn {
    width: 100%;
  }
}
header .btn a {
  text-decoration: none;
  background-color: #22283A;
  color: white;
}
header .btn:hover {
  background-color: white;
  color: #22283A;
  animation: shadow-pulse 1s infinite;
}
header .btn:hover a {
  text-decoration: none;
  background-color: white;
  color: #22283A;
}
.productContainer {
  border-top: 2px solid #DCDCDC;
  margin: 5% 0%;
  padding-top: 5%;
}
@media (max-width:500px) {
  .productContainer {
    margin: 5% 5%;
  }
}
.productContainer .product {
  text-align: center;
  margin: 0% 10%;
  margin-bottom: 5%;
}
@media (max-width:500px) {
  .productContainer .product {
    margin: 0% 4%;
    margin-bottom: 5%;
  }
}
.productContainer .productStepContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width:500px) {
  .productContainer .productStepContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.productContainer .productStep {
  border: 2px solid grey;
  border-radius: 5px;
  text-align: center;
  margin: 0% 2%;
  padding: 2% 2%;
}
@media (max-width:500px) {
  .productContainer .productStep {
    margin: 2% 0%;
  }
}
.productContainer .productStep i {
  font-size: 8rem;
  margin-bottom: 10%;
}
.teamContainer {
  border-top: 2px solid #DCDCDC;
  margin: 5% 0%;
  padding-top: 5%;
}
@media (max-width:500px) {
  .teamContainer {
    margin: 5% 5%;
  }
}
.teamContainer .team {
  text-align: center;
  margin: 0% 10%;
  margin-bottom: 5%;
}
@media (max-width:500px) {
  .teamContainer .team {
    margin: 0% 4%;
    margin-bottom: 5%;
  }
}
.teamContainer .teamMemberContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width:500px) {
  .teamContainer .teamMemberContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.teamContainer .memberImage {
  border-radius: 50%;
  margin-bottom: 5%;
  width: 170px;
  height: 170px;
}
@media (max-width:500px) {
  .teamContainer .memberImage {
    width: 300px;
    height: 300px;
  }
}
.teamContainer .member {
  text-align: center;
  margin: 0% 2%;
  padding: 2% 2%;
}
@media (max-width:500px) {
  .teamContainer .member {
    margin: 2% 0%;
  }
}
.teamContainer .member:hover {
  transform: scale(1.1);
}
.contactContainer {
  border-top: 2px solid #DCDCDC;
  margin: 5% 0%;
  padding-top: 5%;
}
@media (max-width:500px) {
  .contactContainer {
    margin: 5% 5%;
  }
}
.contactContainer h2 {
  text-align: center;
}
@media (max-width:500px) {
  .contactContainer h2 {
    margin-bottom: 4%;
  }
}
.contactContainer .conInfo1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 2%;
  width: 80%;
  margin: 0% 10%;
  margin-bottom: 3%;
}
@media (max-width:500px) {
  .contactContainer .conInfo1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.contactContainer .conInfo1 .conName {
  margin-right: 2.5%;
}
@media (max-width:500px) {
  .contactContainer .conInfo1 .conName {
    margin-right: 0%;
  }
}
.contactContainer .conInfo1 .conName h5 {
  margin-bottom: 3%;
}
.contactContainer .conInfo1 .conName #name {
  width: 100%;
  height: 5rem;
  border-radius: 6px;
  font-size: 3rem;
  padding: 1.5%;
  border-style: solid;
  border: 1px solid #C0C0C0;
}
.contactContainer .conInfo1 .conName #name:focus {
  outline: none;
  border: 2px solid #20B2AA;
}
.contactContainer .conInfo1 .conEmail {
  margin-left: 2.5%;
}
@media (max-width:500px) {
  .contactContainer .conInfo1 .conEmail {
    margin-left: 0%;
  }
}
.contactContainer .conInfo1 .conEmail h5 {
  margin-bottom: 3%;
}
@media (max-width:500px) {
  .contactContainer .conInfo1 .conEmail h5 {
    margin-top: 3%;
  }
}
.contactContainer .conInfo1 .conEmail #email {
  width: 100%;
  height: 5rem;
  border-radius: 6px;
  font-size: 3rem;
  padding: 1.5%;
  border-style: solid;
  border: 1px solid #C0C0C0;
}
.contactContainer .conInfo1 .conEmail #email:focus {
  outline: none;
  border: 2px solid #20B2AA;
}
.contactContainer .conInfo2 {
  text-align: center;
}
.contactContainer .conInfo2 h5 {
  margin-bottom: 3%;
}
.contactContainer .conInfo2 #subject {
  width: 80%;
  height: 15rem;
  border-radius: 6px;
  font-size: 3rem;
  padding: 1.5%;
  border: 1px solid #C0C0C0;
}
.contactContainer .conInfo2 #subject:focus {
  outline: none;
  border: 2px solid #20B2AA;
}
.contactContainer .sendButtonContainer {
  text-align: center;
}
.contactContainer .sendButtonContainer #sendButton {
  background-color: #22283A;
  color: white;
  text-align: center;
  padding: 8px 0px;
  margin-top: 5%;
  border-radius: 5px;
  font-size: 1.9rem;
  width: 150px;
  border: 2px solid #22283A;
}
@media (max-width:500px) {
  .contactContainer .sendButtonContainer #sendButton {
    width: 100%;
  }
}
.contactContainer .sendButtonContainer #sendButton a {
  text-decoration: none;
  background-color: #22283A;
  color: white;
}
.contactContainer .sendButtonContainer #sendButton:hover {
  background-color: white;
  color: #22283A;
  animation: shadow-pulse 1s infinite;
}
.contactContainer .sendButtonContainer #sendButton:hover a {
  text-decoration: none;
  background-color: white;
  color: #22283A;
}
footer .socialIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  border-top: 2px solid #DCDCDC;
  margin: 5% 0%;
  padding-top: 5%;
  font-size: 5rem;
}
footer .socialIcons a {
  text-decoration: none;
  color: black;
}
footer p {
  text-align: center;
  margin-bottom: 2%;
}
