header {
    text-align: center;
    // max-width: 600px;
    // border: 2px solid red;

    .intro {
        margin: 2% 10%;
        .flex(column, center, center);
    }

    .btn {
        .buttonDesign(#22283A, white);
         text-align: center;
         padding: 8px 0px;
         margin-top: 3%;
         border-radius: 5px;
         font-size: 1.9rem;
         width: 150px;
         border: 2px solid #22283A;
    }
}