header {
    text-align: center;
    // max-width: 600px;
    // border: 2px solid red;

    .introImage {
        width: 100%;
        margin-top: 3%;

        @media @tablet {
            margin-top: 100%;
        }
    }

    .intro {
        margin: 3% 10%;
        .flex(column, center, center);

        p {
            margin-bottom: 2%;
        }
    }

    .btn {
        .buttonDesign(@buttonBackgroundColor, @buttonFontColor);
         text-align: center;
         padding: 8px 0px;
         margin-top: 3%;
         border-radius: 5px;
         font-size: 1.9rem;
         width: 150px;
         border: 2px solid #22283A;

         @media @mobile {
             width: 100%;
         }

            a {
                text-decoration: none;
                .buttonDesign(@buttonBackgroundColor, @buttonFontColor);
            }

            &:hover {
            .buttonDesign(@buttonFontColor, @buttonBackgroundColor);
            animation: shadow-pulse 1s infinite;

            a {
                text-decoration: none;
                .buttonDesign(@buttonFontColor, @buttonBackgroundColor);

            }
        }
    }
}