// Navigation code here

.navContainer {
    .lockNavBar();

    nav {
        .flex(column, space-evenly, center);
        margin-top: 1%;

        .navItemContainer {
            .flex(row, space-evenly, center);
            width: 35%;

            a {
                font-size: 1.6rem;
                padding: 4% 0%;
                text-decoration: none;
                color: black;
            }
        }
    }
}