.productContainer {
    .borderStyle();
    
    @media @tablet {
        margin: 5% 5%;
    }
    
    @media @mobile {
        margin: 5% 5%;
    }

    .product {
        text-align: center;
        margin: 0% 10%;
        margin-bottom: 5%;

        @media @tablet {
            margin: 0% 5%;
            margin-bottom: 5%;
        }

        @media @mobile {
            margin: 0% 4%;
            margin-bottom: 5%;
        }
    }

    .productStepContainer {
        .flex(row, space-evenly, center);

        @media @mobile {
            .flex(column, center, center);
        }
    }

        .productStep {
            border: 2px solid #DCDCDC;
            border-radius: 5px;
            text-align: center;
            margin: 0% 2%;
            padding: 2% 2%;
            width: 100%;

            @media @mobile {
                margin: 2% 0%;
            }

            i {
                font-size: 8rem;
                margin-bottom: 10%;
                color: @stepIcons;

                @media @mobile {
                    margin-bottom: 4%;
                }
            }
        }
}