//Variables

//Colors

//Font Colors
@main-font-color: black;
@header-font-color: black;
@socialIcons-font-color: black;
@borderStyle: 2px solid grey;

//Screen Sizing
@mobile: ~'(max-width:500px)';

//Animations