//Variables

//Colors

//Font Colors
@main-font-color: black;
@header-font-color: black;
@socialIcons-font-color: black;
@borderStyle: 2px solid grey;

//Screen Sizing
@mobile: ~'(max-width:500px)';

//Animations
@keyframes shadow-pulse {
    0% {
      box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
      box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
    }
  }